/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* Aquí se define la paleta de colores*/
:root {
  	--color-1: #DF744A;
  	--color-2: #fed601;
  	--color-3: #008f95;
   --color-4: #eb6e80;

}

/* Grid Columns */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
	float: left;
	padding: 10px;
}

@media only screen and (max-width: 1300px) {	
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}
}

@media only screen and (max-width: 900px) {	
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}

@media only screen and (max-width: 650px) {
	[class*="col-"] {
		width: 100%;
	}
}
  
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #000000;
    text-align: center;
  }
  
h1 {
    font-family: 'Bebas Neue';
    display: inline-block;
    color: var(--color-2);
    margin: 0;
    font-size: 4em;
    letter-spacing: 3px;
    text-align: center;
  }
  
h2 {
    margin: 20px;
    text-align: left;
    font-size: 1.3em;
    font-weight: bolder;
  }
  
h2.subtitulo {
	 font-family: 'Expansiva','Good Time', 'Radio Space', monospace;
    font-size: 2.5em;
    text-align: center;
    font-weight: bolder;
  }
  
h3 {
    margin: 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
  }

  
  /* Header */

header {
    padding: 20px;
    background: #DF744A;
  }
  
header img {
  	width: 70px;
}

nav {
  	color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
    
nav ul {
    margin-left: 63px;
    list-style: none;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
nav li {
    margin: 0 10px;
    font-size: 18px;
  }
  
nav a {
    text-decoration: none;
  }
  
nav a:link, nav a:visited {
    color: #000000;    
  }

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
	background-color: rgb(255, 255, 255);
	text-align: center;
	display: none;
	position: absolute;
	top: 20;
	left: 50;
	padding: 10px;
	z-index: 1;
}

.dropdown-menu li {
    display: block;
    margin-bottom: 5px;
}

.dropdown-menu li:last-child {
    margin-bottom: 0;
}

nav img {
  width: 33px;
  height: 33px;
  padding: 5px;
  margin: 0 auto;

}

#nav-icons {
  margin-left: auto;
}

  /* Main */
main {
    margin: 0 auto;
    padding: 20px;
    height: 100%
    
  }

main h2 {
  text-align: center;
}
  
  /* Grillas */
 
.container {
	grid-gap: 20px;
}

.productos, .alimentos, .accesorios, .saludes, .perros, .gatos, .otrosAnimales {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	grid-gap: 20px;
	align-items: stretch;
  }
  
.producto, .alimento, .accesorio, .salud, .perro, .gato, .otroAnimal {
	width: 300px;
	/*border: 2px solid var(--color-3);*/
	box-shadow: 2px 2px 6px 0px  var(--color-3);
	padding: 7px;
	border-radius: 10px;
}

.producto img, .alimento img, .accesorio img, .salud img, .perro img, .gato img, .otroAnimal img {
  max-width: 100%;
}

.producto button, .alimento button, .accesorio button, .salud button, .perro button, .gato button, .otroAnimal button  {
 	color: white;
 	background-color: var(--color-3);
 	padding: 10px 20px;
 	border: none;
 	border-radius: 3px;
  }
  
.novedades, .destacados {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	grid-gap: 20px;
	justify-content: center;
}
  
.novedad, .destacado  {
	width: 300px;
	/*border: 2px solid var(--color-4);*/
	box-shadow: 2px 2px 6px 0px  var(--color-4);
	padding: 7px;
	border-radius: 10px;
}

.novedad img, .destacado img {
  max-width: 100%;
}

.novedad button, .destacado button {
 	color: white;
 	background-color: var(--color-4);
 	padding: 10px 20px;
 	border: none;
 	border-radius: 3px;
  }
  
  
.text {
  padding: 0 20px 20px;
}

.text button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }
  

  /* Formulario */

form {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
  }
  
label {
    display: block;
    margin-bottom: 10px;
  }
  
input[type="text"], input[type="email"], textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
textarea {
    height: 150px;
  }
  
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  /* Footer */

footer {
	display: inline-block;
	width: 100%;
  background-color: var(--color-1);
  text-align: center;
  padding: 20px;
  }

footer img {
  width: 30px;
  height: 30px;

}
  
footer p {
  	color: #000000;
  	margin: 10px;
  }
  