/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
/* Colores de la paleta 07. Esto es más bien una guía, no estoy usando las clases. */
.color1 {color: #000000;}
.color2 {color: #062f4f;}
.color3 {color: #813772;}
.color4 {color: #b82601;}

/* Grid Columns */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
	float: left;
	padding: 10px;
}
@media only screen and (max-width: 1300px) {	
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}
}

@media only screen and (max-width: 900px) {	
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}

@media only screen and (max-width: 650px) {
	[class*="col-"] {
		width: 100%;
	}
}
  
body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    text-align: center;
  }
  
h1 {
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    color: #f7a81c;
    margin: 0;
    font-size: 80px;
    letter-spacing: 2px;
    text-align: center;
  }
  
h2 {
    margin: 20px;
    text-align: center;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
  }
span {
  display: inline-block;

  }
  
  /* Header */
header {
    padding: 20px;
    background-color: #062f4f;
  }
  

nav {
  	background-color: black;
  	color: white;
  }
    
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
nav li {
    margin: 0 10px;
  }
  
nav a {
    text-decoration: none;
  }
  
nav a:hover, nav a:link, nav a:visited {
    color: #fde9e2;
    font-weight: bolder;    
  }
nav a:hover {
	box-shadow: 0px 0px 83px 18px rgba(255, 97, 0, 0.33);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
	background-color: black;
	text-align: center;
	display: none;
	position: absolute;
	top: 20;
	left: 50;
	padding: 10px;
	z-index: 1;
}

.dropdown-menu li {
    display: block;
    margin-bottom: 5px;
}

.dropdown-menu li:last-child {
    margin-bottom: 0;
}

  /* Main */
main {
    margin: 0 auto;
    padding: 20px;
    height: 100%
    
  }
  
  /* Grillas */
 
.container {
	grid-gap: 20px;	
}

.productos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	grid-gap: 20px;
	align-items: stretch;
  }
  
.producto {
	width: 300px;
	border: 2px solid #813772;
	box-shadow: 2px 2px 6px 0px  #813772;
	border-radius: 10px;
}

.producto img {
  max-width: 100%;
}

.producto button {
 	color: white;
 	background-color: #813772;
 	padding: 10px 20px;
 	border: none;
 	border-radius: 3px;
  }
  
.novedades {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	grid-gap: 20px;
	align-items: stretch;
}
  
.novedad  {
	width: 300px;
	border: 2px solid #b82601;
	box-shadow: 2px 2px 6px 0px  #b82601;
	border-radius: 10px;
}

.novedad img {
  max-width: 100%;
}

.novedad button {
 	color: white;
 	background-color: #b82601;
 	padding: 10px 20px;
 	border: none;
 	border-radius: 3px;
  }
  
  
.text {
  padding: 0 20px 20px;
}

.text button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }
  

  /* Formulario */

form {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
  }
  
label {
    display: block;
    margin-bottom: 10px;
  }
  
input[type="text"], input[type="email"], textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
textarea {
    height: 150px;
  }
  
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  

  /* Footer */
footer {
	display: inline-block;
	width: 100%;
    color: #fff;
    background-color: #062f4f;
    text-align: center;
    padding: 20px;
  }
  
footer p {
  	color: #fff;
  	margin: 0;
  }